.click1{
    border-radius: 50%;
    background-color: gainsboro;
    border: none ;
    color: black;
}
.click3{
    border-radius: 50%;
    background-color: gainsboro;
    border: none ;
    color: black;
}
.click2{
    background-color: gainsboro;
    border: none ;
    color: black;
}
.market{
    margin: 1em 1em 0 10em;
}
.address{
    background-color: cadetblue;
    color: white;
}
.placeOrder{
    float:right;
}
.payment{
    padding: 2em;

}
