ul li{
    display: inline-block !important ;
    text-align: center !important;
    padding: 0.5em 3em 0 3em;
}
.nav{
    background-color:gainsboro;
    width: 100%;
    position:relative;
    z-index:10 !important;
}
a{
    color:blueviolet;
}
.Main-menu{
    display:flex;
    text-align: center;
}
ul li a:hover{
    text-decoration: none;
}